@model SEDC.PizzaApp.Models.ViewModels.PizzaViewModel

<partial name="~/Views/Shared/Partials/_PizzaGreeting.cshtml" />

<h1>@ViewData["Title"] </h1>

    @if (ViewBag.Pizza.IsOnPromotion)
    {
        <h3>@ViewBag.Pizza.PizzaName</h3>
        <p> @ViewBag.Pizza.Price</p>
        <p> @ViewBag.Pizza.PizzaSize</p>
        <br />

        <h3 style="color:tomato">This Pizza is on promotion</h3>
    }
    else 
    { 
        <h3>@ViewBag.Pizza.PizzaName</h3>
        <p> @ViewBag.Pizza.Price</p>
        <p> @ViewBag.Pizza.PizzaSize</p>
        <br />
    }




