@model List<PizzaViewModel>

<h1>Pizzas</h1>

<a asp-controller="Pizza" asp-action="CreatePizza" class="btn btn-primary">Create Pizza</a>

<hr />

@foreach (var pizza in Model)
{
    <p>Pizza Name: @pizza.PizzaName</p>
    <p>Pizza Price: @pizza.Price</p>
    <p>Pizza Size: @pizza.pizzaSize</p>
    <a asp-controller="Pizza" asp-action="EditPizza" asp-route-id="@pizza.Id" class="btn btn-success">Edit Pizza</a>
    <a asp-controller="Pizza" asp-action="DeletePizza" asp-route-id="@pizza.Id" class="btn btn-danger">Delete Pizza</a>
    <hr />
}

